.read-more-button {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .read-more-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  