*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  background: #fff;
  color: #000;
}

img {
  max-width: 100%;
}

.gallery-wrap {
  width: 90%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* background: #e2e8e9; */
  justify-content: center;
  align-items: center;
  margin: 0  auto;

}

.gallery-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.5s ease-out;
  transform-style: preserve-3d;
}

.gallery-box {
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.gallery-box a img {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* Arrow Styles */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  z-index: 100;
  background-color: rgb(112, 206, 225);
  border-radius: 20px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}