@media (min-width: 1024px) {
    .yt-p{
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 425px) {
    .yt-left {
        font-size: 0.8rem;
    }

    .yt-right {
        font-size: 0.8rem;
    }

}


@media (min-width: 425px) {
    .yt-p{
        font-size: 10px;
        line-height: 20px;
    }
}
