.marquee-container {
    width: 90%; /* 100% - 20% from each side */
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .marquee-container h1 {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .marquee {
    display: flex;
    width: max-content; /* Set width to accommodate all images */
    animation: marquee 15s linear infinite; /* Adjust duration for smooth scrolling */
    
  }
  
  .marquee-image {
    width: calc(20% - 10px); /* Subtract padding from the width */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio */
    margin-right: 30px; /* Padding between images */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  