.video-background {
  height: 100vh; /* Default height for larger screens */
}

/* Responsive heights for different screen sizes */
@media (max-width: 1024px) {
  .video-background {
    height: 90vh; /* For large screens (e.g., laptops) */
  }
}

@media (max-width: 768px) {
  .video-background {
    height: 85vh; /* For medium screens (e.g., tablets) */
  }
}

@media (max-width: 640px) {
  .video-background {
    height: 80vh; /* For small screens (e.g., mobile) */
  }
}

@media (max-width: 480px) {
  .video-background {
    height: 95vh; /* For extra small screens (mobile) */
  }
}
