.contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.heading-section{
    text-align: center;
    padding-top: 8%;
    color: rgb(238, 38, 38);
    font-size: 3rem; /* Adjust the size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contact-wrapper h1 {
    text-align: center;
}

.fixed-button {
    position: fixed;
    bottom: 10%;
     right: -25px;
     width: 10%;
     cursor: pointer;
     z-index: 1000;
}
