.footer-wrapper{
    background-color: #fffadb;
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-info {
    text-align: center;
    font-weight: bold;
}

.icon-lrge{
    font-size: 28px;
}

.icon-lrge-1{
    font-size: 15px;
}