.fixed-button-1 {
    position: fixed;
   bottom: 7%;
    right: -20px;
    width: 8%;
    cursor: pointer;
    z-index: 1000;
}

.home-wr{
    overflow-x: hidden;
}

@media (max-width: 1024px) {
    .fixed-button-1 {
        width: 10%;
    }
}

@media (max-width: 768px) {

    .fixed-button-1 {
        width: 10%;
    }
}

@media (max-width: 480px) {
    
    .fixed-button-1 {
        width: 25%;
        right: -15px;
        bottom: 15px;
        
    }
}

@media (max-width: 425px) { 
    .fixed-button-1 {
        top: 460px; 
    }}

    @media (max-width: 375px) { 
        .fixed-button-1 {
            top: 500px; 
        }}

        @media (max-width: 320px) { 
            .fixed-button-1 {
                top: 520px; 
            }}
