.wrapper{
    background-color: #000;
    color: white;
    padding-bottom: 40px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info{
    display: flex;
    justify-content: space-around;

}

.img{
    height: 50px;
}

.info-1, .info-2, .info-3, .info-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}